telethon
deep-translator
newspaper3k
pillow
beautifulsoup4
pydub
python-dotenv
gTTS
feedparser
SpeechRecognition
replicate
aiohttp
jdatetime
requests
lxml_html_clean
transformers
torch
torchvision
